version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: apartment_os_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: apartment_os
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
